@charset "UTF-8";
/* CSS Document */

#container {
	padding: 10px 15px 15px;
	font-family: 'Segoe UI', 'SegoeUI', Segoe\000020UI, Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	color: #666;
	line-height: 15px;
}

#container ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#container li {
	margin-top: 14px;
}

#container a {
	color: #07c;
	font-weight: 600;
	text-decoration: none;
}

#container a:hover {
	text-decoration: underline;
}

#container p {
	margin: 0;
}

#container p+p {
	margin-top: 3px;
	font-size: 11px;
}

#container p:last-child {
	margin-top: 0;
}

.mycss {
	text-shadow: 1px 1px 2px rgba(130, 174, 224, 1);
	font-weight: normal;
	color: #0B1130;
	background-color: #F7F7F7;
	letter-spacing: 3pt;
	word-spacing: 2pt;
	font-size: 12px;
	text-align: left;
	font-family: verdana, sans-serif;
	line-height: 2;
	margin: 0px;
	padding: 0px;
}

.mycss:hover {
	background-color: #BBDCED;
	background-image: -webkit-linear-gradient(top, #1b4057, #ffffff);
	background-image: -moz-linear-gradient(top, #1b4057, #ffffff);
	background-image: -ms-linear-gradient(top, #1b4057, #ffffff);
	background-image: -o-linear-gradient(top, #1b4057, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #728c9e);
	text-decoration: none;
	color: #ffffff;
}

.mycss_observacao {
	text-shadow: 1px 1px 2px rgba(130, 174, 224, 1);
	font-weight: normal;
	color: #FF0000;
	background-color: #F7F7F7;
	letter-spacing: 1pt;
	word-spacing: 0pt;
	font-size: 12px;
	text-align: justify;
	font-family: verdana, sans-serif;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
}

.divLogo {
	border: none;
	text-align: center;
	width: 100%;
	height: 100px;
}

.divContent {
	border: none;
	text-align: center;
	width: 100%;
	height: 100%;
}

.divInsideContent {
	border: none;
	text-align: center;
	width: 500px;
	height: 600px;
}

